{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>
                submit id
            </th>
            <th>
                verify id
            </th>
            <th>
                lava job id
            </th>
            <th>
                lava job status
            </th>
            <th>
                user
            </th>
            <th>
                submit time
            </th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>555636</td>
                <td>12345</td>
                <td>Running</td>
                <td>pl.dong</td>
                <td>2018-12-12 10:41:33</td>
            </tr>
            <tr>
                <td>1</td>
                <td>555636</td>
                <td>12345</td>
                <td>Running</td>
                <td>pl.dong</td>
                <td>2018-12-12 10:41:33</td>
            </tr>
        </tbody>

    </table>
{% endblock %}