.head {
    height: 50px;
    width: 100%;
    background-color: #e1dbdb;
    position: fixed;
    z-index: 1000;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #e1dbdb;
    position: absolute;
    left: 0;
}

.nav {
    float: left;
}
.nav ul {
}

.nav ul li {
    float: left;
    height: 50px;
}

.nav ul li a {
    height: 50px;
    line-height:50px;
    font-size: 18px;
    margin-right: 25px;
    color: #777;
}
.login {
    float: right;
    height: 50px;
    margin-top: 8px;
    /*background-color: blue;*/
}

.login button {
    background-color: #e1dede;;
    /*color: #d4d4d4;*/
}

.login a{
    text-decoration: none;
    color: #333;
}
#before_login {
   margin-top: 3px;
}
.display_none {
    display: none;
}

.breadcrumb {
    margin-top: 100px;
}
